#animated-text {
  font-size: 24px;
  font-family: Lucida Console, sans-serif;
  font-weight: 100;
  color: #d3d3d3;
  white-space: pre-wrap; /* Preserve spaces and line breaks */
}

#show_yes {
  background-color: green; 
}

#show_no {
  background-color: red; 
}

.tag-tile {
  background-color: gold; 
  color:white;
  margin-left:1px;
  margin-bottom:1px;
  margin-top:1px;
  border-radius:2px;
  width:9px;
  height:9px;
  vertical-align:top;
  display:inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.select { 
  max-width: 400px;
}

.span4 { 
  max-width: 400px; 
}

.well { 
  max-width: 400px; 
}

.selectize-input {
  font-size: 14px !important;
  // z-index: 1002 !important; 
  border: 1px solid #ccc !important;
}

.selectize-input.focus {
  border-color:  grey !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px grey !important;
}

.selectize-dropdown {
  font-size: 14px !important;  
  line-height: 1.6 !important;
  z-index: 1002 !important; 
  color: black !important;
} 

.selectize-dropdown .selected {
  background-color: grey !important; 
} 

@keyframes pulse {
 50% { opacity: 0; }
}